<h2 class="text-center">Sign up</h2>

<div class="login-form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control",  autofocus: true %>
      <small class="form-text text-muted">Name can't be blank.</small>
    </div>

    <div class="field form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control", autofocus: true %>
      <small class="form-text text-muted">Email can't be blank.</small>
    </div>

    <div class="field form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
    </div>

    <div class="field form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>