%div.user-each.panel.panel-default
  %h3= link_to user.name, user
  %p
    Number of posts:
    %span.badge= user.posts.count
  %p.created-at= "Created at: #{user.created_at}"
  %div.follow-btn
    - unless current_user == user
      = render 'follow_button', user: user